<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.hardison.dylan.repo</string>
	<key>connections</key>
	<dict>
		<key>21CA14F2-E0C1-4CF6-B2BC-48AEEF72357B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CF6C084F-588E-4525-A68F-C10057CAC689</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dylan Hardison</string>
	<key>description</key>
	<string>blah blah</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Repo - Quickly open github pages for checked out repos</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>repo</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>finding repos</string>
				<key>script</key>
				<string>make</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>repo</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>21CA14F2-E0C1-4CF6-B2BC-48AEEF72357B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>CF6C084F-588E-4525-A68F-C10057CAC689</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Set GITHUB_CHECKOUT_DIR to the place where you keep git checkouts.</string>
	<key>uidata</key>
	<dict>
		<key>21CA14F2-E0C1-4CF6-B2BC-48AEEF72357B</key>
		<dict>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
		<key>CF6C084F-588E-4525-A68F-C10057CAC689</key>
		<dict>
			<key>xpos</key>
			<integer>315</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>GITHUB_CHECKOUT_DIR</key>
		<string>~/Git</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://dylan.hardison.net</string>
</dict>
</plist>
